body {
    min-height: 100vh;
    background: url(img/background.jpeg) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.containerGauche {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
}
.containerDroit {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
}
.responsiveAnimateur {
    display: none;
}
.animateur {
    margin-top: 200px;
    width: 80%;
    position: relative;
    align-self: center;
}
.animateur img {
    max-width: 100%;
    height: auto;
}
.canape {
    width: auto;
    position: relative;
    justify-content: center;
    align-self: center;
}
.canape img {
    max-width: 100%;
    height: auto;
    margin-top: -75px;
    justify-content: center;
    align-self: center;
}
.screen-container {
    height: 65%;
    background-image: url('img/screenT.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
}
.form-container {
    margin: 7vh;
    background-color: rgba(240, 116, 255, 0.1);
    border-radius: 1px;
    /*box-shadow: 0 0 10px rgba(0,0,0,.5);*/
}
.container-onglets {
    width: 100%;
    height: 30%;
    display: flex;
    border-bottom: 1px solid #333;
}
.onglet {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.onglet:not(:nth-child(2)) {
    border-right: 1px solid #333;
}
.content {
    height: 70%;
    width: 100%;
    display: none;
}
.active {
    background-color: #6c00bd;
    color: #f1f1f1;
    transition: all 0.3s ease;
}
.activeContent {
    display: block;
    animation: fade 0.5s forwards;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#pseudo, #password, #pseudoLogin, #passwordLogin ,#password2Login, #emailLogin{
    width: 100%;
    padding: 12px 50px;
    box-sizing: border-box;
    border: 2px solid #ffdd00;
    border-radius: 5px;
}
.login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#logo {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .containerGauche,
    .containerDroit {
        width: 100%;
    }
    .container {
        flex-direction: column;
    }
    .animateur {
        display: none;
    }
    .canape {
        width: 100%;
    }
    .television {
        width: 100%;
    }
    .responsiveAnimateur {
        width: 100%;
        display: block;
    }
    .responsiveAnimateur {
        margin-top: 0;
        width: 65%;
        position: relative;
        align-self: center;
    }
    .responsiveAnimateur img {
        max-width: 100%;
        height: auto;
    }
    .screen-container {
        padding-bottom: 15vh;
        padding-top: 15vh;
        background-image: url('img/screenT.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 2px;
        justify-content: center;
        align-items: center;
    }
}

.lyrics {
    height: 200px;
    overflow: hidden;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}
  
.lyrics p {
    margin: 0;
    line-height: 20px;
    height: 20px;
    animation: scroll 10s linear infinite;
}
  
@keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
}