{{ define "reponse-container"}}
<form id="scattegories-verification" method="POST" action="/verificationChecker">
    {{ range $index, $question :=. }}
    <div class="question-container">
        <div class="container">
            <div class="question" id="question-0">
                <p>{{$question.Username}} : {{$question.Artist}}</p>
                <input type="radio" id="Artist-true" name="Artist-{{$question.Id}}" value="true">
                <label for="Artist-{{$question.Id}}">Vrai</label>

                <input type="radio" id="Artist-false" name="Artist-{{$question.Id}}" value="false">
                <label for="Artist-{{$question.Id}}">Faux</label>

                <input type="radio" id="Artist-same" name="Artist-{{$question.Id}}" value="Same">
                <label for="Artist-{{$question.Id}}">Same</label>
            </div>
        </div>

        <div class="container" style="display: none;">
            <div class="question" id="question-1">
                <p>{{$question.Username}} : {{$question.Album}}</p>
                <input type="radio" id="Album-true" name="Album-{{$question.Id}}" value="true">
                <label for="Album-{{$question.Id}}">Vrai</label>

                <input type="radio" id="Album-false" name="Album-{{$question.Id}}" value="false">
                <label for="Album-{{$question.Id}}">Faux</label>

                <input type="radio" id="Album-same" name="Album-{{$question.Id}}" value="Same">
                <label for="Album-{{$question.Id}}">Same</label>
            </div>
        </div>

        <div class="container" style="display: none;">
            <div class="question" id="question-2">
                <p>{{$question.Username}} : {{$question.GroupeDeMusic}}</p>
                <input type="radio" id="Groupe-true" name="Groupe-{{$question.Id}}" value="true">
                <label for="Groupe-{{$question.Id}}">Vrai</label>

                <input type="radio" id="Groupe-false" name="Groupe-{{$question.Id}}" value="false">
                <label for="Groupe-{{$question.Id}}">Faux</label>

                <input type="radio" id="Groupe-same" name="Groupe-{{$question.Id}}" value="Same">
                <label for="Groupe-{{$question.Id}}">Same</label>
            </div>
        </div>

        <div class="container" style="display: none;">
            <div class="question" id="question-3">
                <p>{{$question.Username}} : {{$question.InstrumentDeMusic}}</p>
                <input type="radio" id="Instrument-true" name="Instrument-{{$question.Id}}" value="true">
                <label for="Instrument-{{$question.Id}}">Vrai</label>

                <input type="radio" id="Instrument-false" name="Instrument-{{$question.Id}}" value="false">
                <label for="Instrument-{{$question.Id}}">Faux</label>

                <input type="radio" id="Instrument-same" name="Instrument-{{$question.Id}}" value="Same">
                <label for="Instrument-{{$question.Id}}">Same</label>
            </div>
        </div>

        <div class="container" style="display: none;">
            <div class="question" id="question-4">
                <p>{{$question.Username}} : {{$question.Featuring}}</p>
                <input type="radio" id="Featuring-true" name="Featuring-{{$question.Id}}" value="true">
                <label for="Featuring-{{$question.Id}}">Vrai</label>

                <input type="radio" id="Featuring-false" name="Featuring-{{$question.Id}}" value="false">
                <label for="Featuring-{{$question.Id}}">Faux</label>

                <input type="radio" id="Featuring-same" name="Featuring-{{$question.Id}}" value="Same">
                <label for="Featuring-{{$question.Id}}">Same</label>
            </div>
        </div>
    </div>
    {{ end }}
</form>
{{ end }}